@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.sec-2,.sec-3,.sec-4,.sec-5{
    position: relative;
}
.arrow{
    position: absolute;
    right: 20px;
    bottom: -20px;
}
.arrow img{
    width: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 100px;
}
.nav-links{
    display: flex;
    list-style: none;
   justify-content: space-between;
    width: 50%;
}
.nav-links li{
    font-size: 20px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}
 a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
a:hover{
    color: darkorange;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: darkorange;

}
.logo{
    width: 40%;
    font-size: 30px;
    font-weight: 600;
    color: darkorange;
}